.menu {
    overflow: hidden;
    background-color: #33006F;
    position: fixed;
    padding: 0.5%;
    top: 0;
    width: 100%;
    left: 0;
}

.menu a {
    color: white;
    padding: 1%;
    /* need to add spacing */
}

#qblogo {
    position: absolute;
    top: 0;
    right: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: row;
    padding: 1vh;
    width: fit-content; 
    margin-top: 6vh;
    padding-left: 3vh;
    padding-bottom: 2%;
    gap: 2vh;
    width: 80%;
}


div {
    border: 2px solid black;
    padding: 1vh;
    width: fit-content; 
    margin-top: 2vh;
    padding-left: 3vh; 
    background-color: lightgray;
}